.header{height: 65px;}
.main-content{margin-top: 65px;}
.cursor {
    cursor: pointer;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.header-layer {
    background: url(../images/background.jpg);
    height: 450px;
    background-position: center;
}
.restnt-card {
    margin-bottom: 10px;
    background: #fff;
    border: none;
    border-radius: 4px;
    width: 270px;
    margin: 0 0 18px 18px;
}
.restnt-card .img-wrap {
    float: none;
    width: 100%;
    overflow: visible;
    position: relative;
}
.restnt-card .img-wrap .img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.restnt-card .img-wrap .img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.restnt-card .restnt-detail-wrap {
    margin-left: 0;
    padding: 10px;
}
.restnt-card .restnt-detail-wrap .restnt-info {
    margin-bottom: 4px;
    width: calc(100% - 10px);
}
.restnt-card .restnt-detail-wrap .restnt-info .restnt-name {
    padding-bottom: 5px;
    font-size: 16px;
    color: #141723;
    display: block;
}
.restnt-card .restnt-detail-wrap .restnt-info .restnt-loc {
    font-size: 11px;
    color: #8f8f8f;
}
.restnt-card .restnt-detail-wrap .detail-info ul li {
    margin-top: 5px;
    position: relative;
    font-size: 11px;
    color: #8f8f8f;
}